.split-range {
  $progress-done-color: $blue;
  $progress-left-color: $light-grey;
  display: inline-block;

  &__item {
    height: 0.8125rem;
    width: 0.8125rem;
    display: inline-block;
    margin-right: 0.46rem;
    background-color: $progress-left-color;

    &_circle {
      border-radius: 50%;
    }

    &_checked {
      background-color: $progress-done-color;
    }
  }

  &__description {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0.2rem;
  }

  &__items {
    text-align: center;
  }
}
