mixin split-range({shape='circle', checked = 6, total = 12} = {})
  .split-range
    .split-range__items
      - let counter = 0;
      while counter++ < total
        if counter <= checked
          div(class=`split-range__item split-range__item_${shape} split-range__item_checked`)
        else
           div(class=`split-range__item split-range__item_${shape}`)