@import '../../defaults';

.contact {
  font-size: 0.823rem;
  padding-bottom: 2.5%;
  
  .title {
		margin-bottom: 5%;
  }
  
  &__info {
		margin-bottom: 7%;
  }
  
  &__title {
		display: inline-block;
		color: $blue;
    font-weight: bold;
    text-transform: uppercase;
		width: 30%;
	}
	
  &__text {
    width: 70%;
  }
}
