include ../../components/section-title/section-title

mixin contact(options = {})
  -let {
  -  address = 'Main Street, City.', 
  -  email = 'contact@domain.com', 
  -  phone = '555-555-555', 
  -  website = 'www.yourweb.com'
  -} = options;

  -let info = [{
  -  title:'address',
  -  value: address
  - },
  - {
  -   title:'e-mail', 
  -   value: email,
  -   prependHref:'mailto: '
  - },
  - {
  -  title:'phone',
  -  value: phone,
  -  prependHref:'tel: '
  - }, 
  - {
  -  title:'website',
  -  value: website,
  -  prependHref: 'http://',
  -  attributes: {
  -    target:'_blank',
  -    rel:'noopener noreferrer'
  -  }
  - }];

  section.contact
    .contact__header
      +section-title({icon:'fas fa-phone', title:'CONTACT'})
    .contact__content
      each object in info
        -let {title, value, prependHref = '', attributes = {}} = object;
        .contact__info
          .contact__title #{title}
          a.contact__link(
            href = prependHref + value
          )&attributes(attributes)
            | #{value}