include ../../components/title/title

mixin contact(options)
  -let defaults = {
  -  address:'Main Street, City.', 
  -  email:'contact@domain.com', 
  -  phone:'555-555-555', 
  -  website:'www.yourweb.com'
  -}
  -let validObject = Object.assign(defaults, options)
  -let info = [{
  -  key:'address',
  -},
  -{
  -  key:'email', 
  -  prependHref:'mailto: '
  -},
  -{
  -  key:'phone',
  -  prependHref:'tel: '
  - }, 
  - {
  -  key:'website',
  -  prependHref: 'http://',
  -  attributes: {
  -    target:'_blank',
  -    rel:'noopener noreferrer'
  -  }
  - }]
  .contact
    +title('fas fa-phone', 'CONTACT')

    each object in info
      -let {key, prependHref = '', attributes = {}} = object
      .contact__info
        .contact__title #{key}
        a.contact__link(
          href = prependHref + validObject[key]
        )&attributes(attributes)
          | #{validObject[key]}
