include ../../components/section-title/section-title

mixin contact(contacts = {address:{title:'address', value: 'Main Street, City.'}})
  section.contact
    .contact__header
      +section-title({icon:'fas fa-phone', title:'CONTACT'})
    .contact__content
      each contactType in ['address', 'email', 'phone', 'website']
        if contacts[contactType] === undefined
          - continue
        -let {title = '', value = '', prependHref = '', attributes = {}} = contacts[contactType];
        section.contact__info
          .contact__title #{title}
          a.contact__link(
            href = prependHref + value
          )&attributes(attributes)
            | #{value}