include ../../components/title/title

mixin contact(options)
  .contact
    +title('fas fa-phone', 'CONTACT')
    each property in ['address', 'email', 'phone', 'website']
      .contact__info
        .contact__title #{property}
        span.contact__text #{options[property]}
