.contact {
  font-size: 0.823rem;
  padding-bottom: 2.5%;

  &__header {
    margin-bottom: 5%;
  }

  &__info {
    margin-bottom: 7%;
  }

  &__title {
    display: inline-block;
    color: $blue;
    font-weight: bold;
    text-transform: uppercase;
    width: 30%;
  }

  &__link {
    width: 70%;
    color: inherit;
    text-decoration: none;
    &:visited {
      color: inherit;
    }
  }
}
