include ../../components/title/title

mixin contact(options)
  .contact
    +title('fas fa-phone', 'CONTACT')
    -let info = [{
    -    key:'address',
    -  },
    -  {
    -    key:'email', 
    -    prependHref:'mailto: '
    -  },
    -  {
    -    key:'phone',
    -    prependHref:'tel: '
    -   }, 
    -   {
    -    key:'website',
    -    prependHref: 'http://'
    -   }]

    each object in info
      .contact__info
        .contact__title #{object.key}
        a.contact__link(
          href = object.prependHref === undefined ? '' : object.prependHref + options[object.key]
        )
          | #{options[object.key]}
