.line {
    font-family: 'Conv_Arial-BoldMT';
    font-size: 19.75pt;
    font-weight: bold;
    color: $blue;
    overflow: hidden;
    display: inline-block;
    width: 100%;
}

.line:after {
    content:"";
    display: inline-block;
    height: 0.55em;
    vertical-align: bottom;
    width: 100%;
    margin-right: -100%;
    margin-left: 10px;
    border-top: 3px solid $blue;
}