mixin info(data)
    li
      .title
        span.iteml(style='color:' + data.titleColor) #{data.title}
        span.itemr #{data.date}
      .subtitle #{data.subtitle}
      .text #{data.text}
    