mixin info(options = {})
  -let {
  -  title = 'title',
  -  date = '//Feb 2011 - June 2012',
  -  subtitle = 'subtitle',
  -  text ='Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.'
  -} = options;
  li.info
    .info__title
      span.info__name #{title}
      span.info__date #{date}
    .info__subtitle #{subtitle}
    .info__text #{text}
    