mixin info(data)
    li.info
      .info__title
        span.info__name #{data.title}
        span.info__date #{data.date}
      .info__subtitle #{data.subtitle}
      .info__text #{data.text}
    