mixin info(options)
  -let{title, date, subtitle, text} = options
  li.info
    .info__title
      span.info__name #{title}
      span.info__date #{date}
    .info__subtitle #{subtitle}
    .info__text #{text}
    