mixin info({title, date, subtitle, text} = {})
  li.info
    .info__title
      span.info__name #{title}
      span.info__date #{date}
    .info__subtitle #{subtitle}
    .info__text #{text}
    