.info {
  list-style-type: none;
  position: relative;

  &::before {
    font-size: 3.2rem;
    content: '\2022';
    position: absolute;
    left: -1.8rem;
    top: -1.4rem;
  }

  &__title {
    margin-bottom: 0.25rem;
  }

  &__name {
    font-weight: bold;
    font-size: 1.02916rem;
    text-transform: uppercase;
  }

  &__date {
    margin-left: 0.5rem;
  }

  &__subtitle {
    margin-bottom: 0.4rem;
    font-size: 1.02916rem;
    text-transform: uppercase;
  }

  &__text {
    font-size: 0.64rem;
    line-height: 0.8rem;
    margin-right: 1.4rem;
    margin-bottom: 0.6rem;
  }

  &_highlighted-name & {
    &__name {
      color: $blue;
    }
  }
}
