@import '../../defaults';

.info {
  list-style-type: none;
  position: relative;

  &::before {
    font-size: 3.2rem;
    content: '\2022';
    position: absolute;
    left: -1.8rem;
    top: -1.4rem;
  }

  &__title {
    margin-bottom: 1%;
  }

  &__name {
    font-weight: bold;
    font-size: 1.02916rem;
  }
  
  &__date {
    margin-left: 0.5rem;
  }
  
  &__subtitle {
    margin-bottom: 1.6%;
    font-size: 1.02916rem;
  }
  
  &__text {
    font-size: 0.64rem;
    line-height: 1.25;
  }
}


