mixin bar({modifier = '', name = 'Name', percentage = '50%'} = {})
  div(class = modifier === '' ? 'bar' : `bar ${modifier}__bar`)
    .bar__text #{name}
    .bar__bar
      .bar__progress(style='width:' + percentage)