@import '../include/defaults';

.bar {
    background-color: $barLeft;
    height: 15px;
    font-size: 12.35pt;
    div {
        background-color: $barDone;
        margin: 0;
        height: 15px;
    }
}