mixin bar(options)
  -let defaults = {name:'Name', percentage:'50%'}
  -let {name, percentage} = Object.assign(defaults, options)
  .bar
    .bar__text #{name}
    .bar__bar
      .bar__progress(style='width:' + percentage)