.bar {

  &__bar {
    background-color: $progress-left-color;
    height: $progress-bar-height;
    font-size: 1.02916rem;
    margin-top: 7%;
  }
  
  &__progress {
    background-color: $progress-done-color;
    margin: 0;
    height: $progress-bar-height;
  }

}