include ../../components/section-title/section-title
include ../../components/info/info

mixin experience(objects = [{}])
  section.experience
    +section-title({icon:'fas fa-suitcase', title:'EXPERIENCE', modifier:'experience'})
    ul.experience__list
      each object in objects
        +info(object)