include ../../components/title/title
include ../../components/info/info

mixin experience(options)
  .experience
    +title('fas fa-suitcase', 'EXPERIENCE')
    ul
      each val in options
        +info(val)