include ../../components/section-title/section-title
include ../../components/info/info

mixin experience(experiences = [{}])
  section.experience
    .experience__header
      +section-title({icon:'suitcase', title:'EXPERIENCE'})
    .experience__content
      ul.experience__list
        +info(experiences)