include ../../components/section-title/section-title
include ../../components/info/info

mixin experience(objects = [{}])
  section.experience
    .experience__header
      +section-title({icon:'fas fa-suitcase', title:'EXPERIENCE'})
    ul.experience__list
      each object in objects
        .experience__info
          +info(object)