include ../../components/title/title
include ../../components/info/info

mixin experience(options)
  .experience
    +title('fas fa-suitcase', 'EXPERIENCE')
    ul
      each object in options
        +info(object)