include ../../components/title/title
include ../../components/info/info

mixin experience(...args)
  .experience
    +title('fas fa-suitcase', 'EXPERIENCE')
    ul
      each val in args
        +info(val)