include ../../components/title/title
include ../../components/info/info

mixin experience(objects = [{}])
  section.experience
    +title({icon:'fas fa-suitcase', title:'EXPERIENCE'})
    ul.experience__list
      each object in objects
        +info(object)