mixin avatar(options)
  -let defaults = {
  -  url:'', 
  -  name:'NAME HERE',
  -  surname:'SURNAME',
  -  occupation:'OCCUPATION'
  -}
  -let {url, name, surname, occupation} = Object.assign(defaults, options)
  .avatar
    .avatar__image-container
      img.avatar__image(src=url)
    .avatar__name #{name}
    .avatar__surname #{surname}
    .avatar__occupation #{occupation}