mixin avatar(opt)
  -let{name, surname, occupation} = opt
  .avatar
    .avatar__img
      img(src=opt.url)
    .avatar__name #{name}
    .avatar__surname #{surname}
    .avatar__occupation #{occupation}