.avatar {
  text-align: center;
  padding-bottom: 14.5%;

  &__image-container {
    margin: auto;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 0 0.0625rem $blue;
    box-sizing: border-box;
    height: 9.875rem;
    min-width: 9.875rem;
    max-width: 9.875rem;
    border: 0.5rem solid white;
    background-color: $blue;
  }

  &__image {
    width: 100%;
    height: 100%;
  }

  &__name {
    margin-top: 1.7rem;
    font-size: 2.0625rem;
    text-transform: uppercase;
  }

  &__surname {
    font-weight: bold;
    font-size: 2.4375rem;
    text-transform: uppercase;
  }

  &__name,
  &__surname {
    line-height: 2.2rem;
    word-wrap: break-word;
  }

  &__occupation {
    font-weight: bold;
    font-size: 1rem;
    margin-top: 0.6rem;
    text-transform: uppercase;
  }
}
