.avatar {
  text-align: center;
  line-height: 1;
  padding-bottom: 14.5%;

  &__image-container {
    @include circle(9.875rem, $blue);
    border: 0.5rem solid white;
  }

  &__image {
    width: 100%;
    height: 100%;
    background-color: $blue;
  }

  &__name {
    margin-top: 1.7rem;
    font-size: 2.0625rem;
  }

  &__surname {
    font-weight: bold;
    font-size: 2.4375rem;
  }

  &__occupation {
    font-weight: bold;
    font-size: 1rem;
    margin-top: 0.6rem;
  }
}
