mixin avatar(options)
  -let{name, surname, occupation, url} = options
  .avatar
    .avatar__image-container
      img.avatar__image(src=url)
    .avatar__name #{name}
    .avatar__surname #{surname}
    .avatar__occupation #{occupation}