.software {
  .title {
    margin-bottom: 1.8%;
  }

  &__barcont {
    display: flex;
    flex-wrap: wrap;
    padding-left: 2%;
  }

  .bar  {
    width: 40%;
    margin-right: 10%;
    margin-bottom: 3%;
  }
}
