include ../../components/title/title
include ../../components/bar/bar

mixin software(options)
  .software
    +title('fas fa-laptop', 'SOFTWARE')
    .software__barcont
      each object in options
        +bar(object)