include ../../components/section-title/section-title
include ../../components/bar/bar

mixin software(objects = [{}])
  section.software
    .software__header
      +section-title({icon:'fas fa-laptop', title:'SOFTWARE'})
    .software__barcont
      each object in objects
        .software__bar
          +bar(object)