include ../../components/title/title
include ../../components/bar/bar

mixin software(objects = [{}])
  section.software
    +title({icon:'fas fa-laptop', title:'SOFTWARE'})
    .software__barcont
      each object in objects
        +bar(object)