.software {
  &__header {
    margin-bottom: 1.8%;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    padding-left: 2%;
  }

  &__range {
    width: 40%;
    margin-right: 10%;
    margin-bottom: 3%;
  }
}

@media screen and (max-width: 400px) {
  .software {
    &__range {
      width: 100%;
      margin-left: 5%;
    }
  }
}
