include ../../components/section-title/section-title
include ../../components/bar/bar

mixin software(objects = [{}])
  section.software
    +section-title({icon:'fas fa-laptop', title:'SOFTWARE', modifier:'software'})
    .software__barcont
      each object in objects
        +bar(object)