include ../../components/section-title/section-title
include ../../components/range/range

mixin software(programs = [{}])
  section.software
    .software__header
      +section-title({icon:'fas fa-laptop', title:'SOFTWARE'})
    .software__content
      each program in programs
        .software__range
          +range(program)