$icon-size: 3.0625rem;
$icon-background-color: $blue;

.title {
  display: flex;
  padding: 0.5rem;
  padding-left: 1%;
  align-items: center;

  &__icon {
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 0 0.0625rem $icon-background-color;
    box-sizing: border-box;
    height: $icon-size;
    min-width: $icon-size;
    max-width: $icon-size;
    border: 0.125rem solid white;
    background-color: $icon-background-color;
    text-align: center;
    i {
      color: white;
      line-height: 2.8125rem;
      font-size: 1.625rem;
    }
    margin-right: 3%;
  }

  &__text {
    font-weight: bold;
    font-size: 1.64583rem;
    font-weight: bold;
    text-transform: uppercase;
    color: $icon-background-color;
    display: inline-block;
    margin-right: 0.8%;
  }

  &__line {
    height: 0.1875rem;
    background: $icon-background-color;
    overflow: hidden;
    width: 100%;
    margin-right: 4.5%;
  }
}
