@mixin circle($size, $outerColor) {
    margin: auto;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 0 1px $outerColor;
    box-sizing: border-box;
    width: $size;
    height: $size;
}