@mixin circle($size, $border) {
    margin: auto;
    border-radius: 50%;
    overflow: hidden;
    border: 8px solid white;
    box-shadow: 0 0 0 2px $border;
    box-sizing: border-box;
    width: $size;
    height: $size;
}