.line-after {
	font-family: 'Conv_Arial-BoldMT';
	font-size: 1.64583rem;
	font-weight: bold;
	color: $blue;
	display: inline-block;
	margin-right: 0.8%;
}

.line-after-line {
	height: 0.1875rem;
	background: $blue;
	overflow: hidden;
	width: 100%;
	margin-right: 4.5%;
}
