.skills {
  .title {
    margin-bottom: 3.2%;
  }
  
  .circle-bar {
    margin-bottom: 4.2%;
    margin-left: 11%;
  }
}

@media screen and (max-width: 700px) {
  .skills {
    .circle-bar {
      display: block;
      margin: 0 auto;
      margin-bottom: 3%;
    }
  }
}