.skills {
  &__section-title {
    margin-bottom: 3.2%;
  }

  &__circle-bar {
    margin-bottom: 4.2%;
    margin-left: 11%;
  }
}

@media screen and (max-width: 700px) {
  .skills {
    &__circle-bar {
      display: block;
      margin: 0 auto;
      margin-bottom: 3%;
    }
  }
}
