.skills {
  &__header {
    margin-bottom: 0.5rem;
  }

  &__title {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0.2rem;
  }

  &__split-range {
    margin-bottom: 0.7rem;
    text-align: center;
  }
}

@media screen and (max-width: 700px) {
  .skills {
    &__split-range {
      display: block;
      margin: 0 auto;
      margin-bottom: 1rem;
    }
  }
}
