include ../../components/title/title
include ../../components/circle-bar/circle-bar

mixin skills(objects = [{}])
  section.skills
    +title({icon:'fas fa-lightbulb', title:'SKILLS'})
    each object in objects
      +circle-bar(object)