include ../../components/title/title
include ../../components/circle-bar/circle-bar

mixin skills(options)
  .skills
    +title('fas fa-lightbulb', 'SKILLS')
    each val in options
      +circle-bar(val)