include ../../components/section-title/section-title
include ../../components/circle-bar/circle-bar

mixin skills(objects = [{}])
  section.skills
    .skills__header
      +section-title({icon:'fas fa-lightbulb', title:'SKILLS'})
    each object in objects
      .skills__circle-bar
        +circle-bar(object)