.range {
  &__bar {
    background-color: $light-grey;
    height: 0.96rem;
    font-size: 1.02916rem;
    text-transform: uppercase;
    margin-top: 0.8rem;
  }

  &__progress {
    background-color: $blue;
    margin: 0;
    height: 0.96rem;
  }
}
