include ../avatar/avatar
include ../profile/profile
include ../contact/contact
include ../skills/skills

include ../education/education
include ../experience/experience
include ../software/software

mixin resume(data)
  -let{avatar, profile, contact, skills, education, experience, software} = data;
  article.resume
    section.resume__column.resume__column_left
      +avatar(avatar)
      +profile(profile)
      +contact(contact)
      +skills(skills)
    section.resume__column.resume__column_right
      +education(education)
      +experience(experience)
      +software(software)