@mixin circle($size, $outer-color) {
    margin: auto;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 0 1px $outer-color;
    box-sizing: border-box;
    min-width: $size;
    height: $size;
}
