$blue:#3d6cb0;

$avatar-size: 10rem;
$avatar-background-color: $blue;

$progress-bar-height: 0.9375rem;
$progress-dot-height: 0.8125rem;
$progress-dot-count: 12;
$progress-done-color: $blue;
$progress-left-color: #e6e6e6;

$icon-size: 3.0625rem;
$icon-background-color: $blue;