$blue:#3d6cb0;

$avatar-size: 160px;
$avatar-background-color: $blue;

$progress-bar-height: 15px;
$progress-dot-height: 13px;
$progress-dot-count: 12;
$progress-done-color: $blue;
$progress-left-color: #e6e6e6;

$icon-size: 49px;
$icon-background-color: $blue;