body {
  color: black;
  background-color: white;
  margin: 0;
  font-family: "Conv_ARIALMT";
}

.content {
  width: 65%;
  min-width: 320px;
  max-width: 1920px;
  margin: auto;
}

.row {
  width: 100%;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.left {
  float: left;
  width: 38.5%;
  margin-right: 3.5%;
  padding-top: 7.5%;
}

.right {
  float: left;
  width: 58%;
  padding-top: 5.2%;
}

@media screen and (max-width: 900px) {
  .content {
    width: 92%;
  }

  .right, .left {
    float: none;
    width: 100%;
    margin: 0;
  }
}