include ../../components/section-title/section-title
include ../../components/info/info

mixin education(objects = [{}])
  section.education
    .education__header
      +section-title({icon:'fas fa-star', title:'EDUCATION'})
    ul.education__list
      each object in objects
        .education__info
          +info(object) 