.education {
  padding-bottom: 2%;

  &__header {
    margin-bottom: 3%;
  }

  &__info {
    margin-right: 5%;
    margin-bottom: 1.8%;

    .info__name {
      color: $blue;
    }
  }
}
