include ../../components/title/title
include ../../components/info/info

mixin education(options)
  -let array = options instanceof Array ? options : [{}]
  .education
    +title('fas fa-star', 'EDUCATION')
    ul.education__list
      each object in array
        +info(object) 