include ../../components/section-title/section-title
include ../../components/info/info

mixin education(educations = [{}])
  section.education
    .education__header
      +section-title({icon:'star', title:'EDUCATION'})
    .education__content
      ul.education__list
        +info(educations)