include ../../components/section-title/section-title
include ../../components/info/info

mixin education(objects = [{}])
  section.education
    +section-title({icon:'fas fa-star', title:'EDUCATION', modifier:'education'})
    ul.education__list
      each object in objects
        +info(object) 