include ../../components/title/title
include ../../components/info/info

mixin education(options)
  .education
    +title('fas fa-star', 'EDUCATION')
    ul
      each object in options
        +info(object)