include ../../components/title/title
include ../../components/info/info

mixin education(options)
  -let array = options instanceof Array ? options : [{}]
  -let defaults = {
  -  title:'MASTER DEGREE', 
  -  subtitle:'UNIVERSITY NAME',
  -  date:'//Feb 2011 - June 2012',
  -  text:'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.'
  -}
  .education
    +title('fas fa-star', 'EDUCATION')
    ul.education__list
      each object in array
        +info(Object.assign(defaults, object)) 