include ../../components/title/title
include ../../components/info/info

mixin education(objects = [{}])
  section.education
    +title({icon:'fas fa-star', title:'EDUCATION'})
    ul.education__list
      each object in objects
        +info(object) 