mixin section-title({icon = 'lightbulb', title = 'Icon'} = {})
  - const icons = ['lightbulb', 'user', 'phone', 'lightbulb', 'laptop', 'suitcase', 'star']
  header.section-title
    .section-title__content
      .section-title__icon
        i(class=icons.includes(icon) ? `fas fa-${icon}` : '')
      .section-title__text #{title}
      .section-title__line
