mixin avatar(options)
  .avatar
    .avatar__img
      img(src=options.url)
    .avatar__name #{options.name}
    .avatar__surname #{options.surname}
    .avatar__occupation #{options.occupation}