.avatar {
    text-align: center;
    line-height: 1;
}

.avatar__img {
    @include circle($avatar-size, $avatar-background-color);
    border: 8px solid white;

    img {
        width: 100%;
        height: 100%;
        background-color: $avatar-background-color; 
    }
}

.avatar__name {
    margin-top: 0.7em;
    font-size: 33px;
}

.avatar__surname {
    font-family: 'Conv_Arial-BoldMT';
    font-size: 39px;
    font-weight: 900;
}

.avatar__occupation {
    font-weight: bold;
    font-size: 16px;
    margin-top: 0.6em;
}