@import '../include/defaults';
@import '../include/circle';

#avcont {
    text-align: center;
    line-height: 1;
}

#piccont {
    @include circle($avatarSize, $background);
    border: 8px solid white;
}

#pic {
    width: 100%;
    height: 100%;
    background-color: $background;
}

#name {
    margin-top: 0.5em;
    font-size: 24px;
}

#surname {
    font-weight: bold;
    font-size: 24px;
}

#occupation {
    font-weight: bold;
    margin-top: 0.25em;
}