%dot {
    height: $progress-dot-height;
    width: $progress-dot-height;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
}

.checked {
    @extend %dot;
    background-color: $progress-done-color;
}

.unchecked {
    @extend %dot;
    background-color: $progress-left-color;
}