@import '../include/defaults';

%dot {
    height: 13px;
    width: 13px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
}

.checked {
    @extend %dot;
    background-color: $checked;
}

.unchecked {
    @extend %dot;
    background-color: $unchecked;
}