@import '../include/defaults';
@import '../include/circle';

.icont {
    @include circle($iconSize, $background);
    display: inline-table;
    border: 4px solid white;
}

.icont div {
    background-color: $background;
    width: $iconSize;
    height: $iconSize;
}
.profile {

}