@import '../include/defaults';
@import '../include/circle';

.icont {
    @include circle($iconSize, $background);
    display: inline-table;
    border: 2px solid white;
}

.icont div {
    background-color: $background;
    width: $iconSize;
    height: $iconSize;
    text-align: center;
    i {
        color: white;
        line-height: 45px;
        font-size: 26px;
    }
}


.profile {

}