.icont {
    @include circle($icon-size, $icon-background-color);
    display: inline-table;
    border: 2px solid white;
}

.icont div {
    background-color: $icon-background-color;
    width: $icon-size;
    height: $icon-size;
    text-align: center;
    i {
        color: white;
        line-height: 45px;
        font-size: 26px;
    }
}
