mixin circle-bar(options, length=12)
  -let defaults = {name:'Name', dotCount:6}
  -let {name, dotCount} = Object.assign(defaults, options)
  .circle-bar 
    .circle-bar__text #{name}
    .circle-bar__dots
      - var counter = 0;
      while counter++ < length
        if counter <= dotCount
          .circle-bar__checked
        else
          .circle-bar__unchecked