mixin circle-bar(options, count=12)
  -let{name, num} = options
  .circle-bar 
    .circle-bar__text #{name}
    .circle-bar__dots
      - var n = 0;
      while n++ < count
        if n <= num
          .circle-bar__checked
        else
          .circle-bar__unchecked