mixin circle-bar({name = 'Name', checked = 6, total = 12} = {})
  div.circle-bar
    .circle-bar__text #{name}
    .circle-bar__dots
      - let counter = 0;
      while counter++ < total
        if counter <= checked
          .circle-bar__dot.circle-bar__dot_checked
        else
          .circle-bar__dot