%dot {
  height: $progress-dot-height;
  width: $progress-dot-height;
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.46rem;
}

.circle-bar {
  display: inline-block;
  &__checked {
    @extend %dot;
    background-color: $progress-done-color;
  }
  
  &__unchecked {
    @extend %dot;
    background-color: $progress-left-color;
  }

  &__text {
    text-align: center;
    margin-bottom: 1%;
  }

  &__dots {
    text-align: center;
  }
}
