.circle-bar {
  $progress-done-color: $blue;
  $progress-left-color: $light-grey;
  display: inline-block;

  &__dot {
    height: 0.8125rem;
    width: 0.8125rem;
    border-radius: 50%;
    display: inline-block;
    margin-right: 0.46rem;

    &_checked {
      background-color: $progress-done-color;
    }

    &_unchecked {
      background-color: $progress-left-color;
    }
  }

  &__text {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1%;
  }

  &__dots {
    text-align: center;
  }
}
