include ./composite/resume/resume

doctype html

html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1.0', width='device-width')
    meta(name='description' content='Resume template.')
    meta(name='keywords' content='Resume, HTML, CSS, JavaScript')
    meta(name='viewport', content='initial-scale=1.0', width='device-width')
    link(rel="stylesheet", href='https://use.fontawesome.com/releases/v5.8.1/css/all.css', integrity='sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf', crossorigin='anonymous')
    link(rel='apple-touch-icon' sizes='180x180' href='/resume/favicon/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='/resume/favicon/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='/resume/favicon/favicon-16x16.png')
    link(rel='manifest' href='/resume/favicon/site.webmanifest')
    link(rel='mask-icon' href='/resume/favicon/safari-pinned-tab.svg' color='#5bbad5')
    link(rel='shortcut icon' href='/resume/favicon/favicon.ico')
    meta(name='msapplication-TileColor' content='#da532c')
    meta(name='msapplication-config' content='/resume/favicon/browserconfig.xml')
    meta(name='theme-color' content='#ffffff')
    title Resume template
  body
    -let edu = {
    -  title:'MASTER DEGREE', 
    -  subtitle:'UNIVERSITY NAME',
    -  date:'//Feb 2011 - June 2012',
    -  style:'education',
    -  text:'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.'
    -};
    
    -let exp = {
    -  title:'COMPANY NAME', 
    -  subtitle:'YOUR JOB HERE', 
    -  date:'//Feb 2011 - June 2012', 
    -  text:'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.'
    -};

    main
      +resume({
        avatar: {
          url:'https://m-ch.ml/rand/r7/64.jpeg', 
          name:'name here',
          surname:'SURNAME',
          occupation:'GRAPHIC DESIGNER'
        },
        profile: {
          text: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu b ',
          boldText: 'pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum.'
        },
        contact: {
          address:{
            title:'address',
            value: 'Main Street, City.'
           },
           email:{
             title:'e-mail', 
             value: 'contact@domain.com',
             prependHref:'mailto: '
           },
           phone:{
            title:'phone',
            value: '555-555-555',
            prependHref:'tel: '
           }, 
           website:{
            title:'website',
            value: 'www.yourweb.com',
            prependHref: 'http://',
            attributes: {
              target:'_blank',
              rel:'noopener noreferrer'
            }
          }
        },
        skills: [{name:'CREATIVE', checked:3, total: 12},
                 {name:'TEAMWORK', checked:4, total: 12},
                 {name:'INNOVATIVE', checked:9, total: 12},
                 {name:'COMMUNICATION', checked:12, total: 12}],
        education: [edu, edu, edu, edu],
        experience: [exp, exp, exp],
        software: [{name: 'PHOTOSHOP', percentage:'60%'},
                   {name: 'DREAMWEAVER', percentage:'60%'},
                   {name: 'ILLUSTRATOR', percentage:'60%'},
                   {name: 'AFTER EFFECTS', percentage:'60%'},
                   {name: 'INDESIGN', percentage:'60%'},
                   {name: 'HTML&CSS3', percentage:'60%'}]
})
