include ./components/avatar/avatar
include ./components/icons/icon
include ./components/line/line
include ./components/info/info
include ./components/bar/bar
include ./components/circle_bar/bar
include ./components/row/row

doctype html

hmtl(lang='en')
  head
    meta(charset='utf-8')
    title Resume template
  body
    #content
      .row
        #left
          +avatar({
            url:'https://m-ch.ml/rand/r7/64.jpeg', 
            name:'John',
            surname:'Doe',
            occupation:'GRAPHIC DESIGNER'
          })

          #skills
            +cbar(12, 3, 'And now')
            +cbar(12, 4, 'For something')
            +cbar(12, 9, 'Completely')
            +cbar(12, 15, 'Different')

          #contact
            +row('ADDRESS', 'Bat Country')
            +row('E-MAIL', 'mail@gmail.com')
            +row('PHONE', '8-913-999-00-01')

        #right
          .titleCont
            +icon
            +line("Testing")

          #education
            ul
              +info({
                title:'MASTER DEGREE', 
                subtitle:'UNIVERSITY NAME',
                date:'//Feb 2011 - June 2012',
                text:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed blandit tortor. Nulla rhoncus mauris in nulla pulvinar sodales. Quisque vitae lacus in enim molestie tristique ac eu nibh. Sed aliquam libero vitae magna efficitur aliquet.'
              })

          #software
            +bar('60%', 'And now')
            +bar('10%', 'For something')
            +bar('90%', 'Completely')
            +bar('50%', 'Different')
