include ./components/avatar/avatar

doctype html

hmtl(lang="en")
  head
    meta(charset='utf-8')
    title Resume template
  body
    #content
      .row
        #left
            +avatar({
            url:"https://m-ch.ml/rand/r3/7.jpeg", 
            name:"John",
            surname:"Doe",
            occupation:"GRAPHIC DESIGNER"
            })
        #right
          div kek
      