include ./components/avatar/avatar
include ./components/info/info
include ./components/bar/bar
include ./components/circle-bar/bar
include ./components/contact-info/contact-info

include ./composite/title/title

doctype html

html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1.0', width='device-width')
    link(rel="stylesheet", href='https://use.fontawesome.com/releases/v5.8.1/css/all.css', integrity='sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf', crossorigin='anonymous')
    title Resume template
  body
    #content
      .row
        #left
          #avatar
            +avatar({
              url:'https://m-ch.ml/rand/r7/64.jpeg', 
              name:'NAME HERE',
              surname:'SURNAME',
              occupation:'GRAPHIC DESIGNER'
            })    

          #profile    
            +title('fas fa-user', 'PROFILE')
            
            .text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu 
              b pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. 
          
          #contact
            +title('fas fa-phone', 'CONTACT')

            +contact-info('ADDRESS', 'Main Street, City.')
            +contact-info('E-MAIL', 'contact@domain.com')
            +contact-info('PHONE', '555-555-555')   
            +contact-info('WEBSITE', 'www.yourweb.com') 

          #skills
            +title('fas fa-lightbulb', 'SKILLS')

            +circle-bar(12, 3, 'CREATIVE')
            +circle-bar(12, 4, 'TEAMWORK')
            +circle-bar(12, 9, 'INNOVATIVE')
            +circle-bar(12, 15, 'COMMUNICATION')   

        #right   
          #education
            +title('fas fa-star', 'EDUCATION')

            ul
              -var o = {
              -  title:'MASTER DEGREE', 
              -  titleColor:'#3d6cb0', 
              -  subtitle:'UNIVERSITY NAME',
              -  date:'//Feb 2011 - June 2012',
              -  text:'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.'
              -}
              +info(o)    
              +info(o)
              +info(o)
              +info(o)

          #experience
            +title('fas fa-suitcase', 'EXPERIENCE')
            
            ul
              -var o = {
              -  title:'COMPANY NAME', 
              -  subtitle:'YOUR JOB HERE', 
              -  date:'//Feb 2011 - June 2012', 
              -  text:'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.'
              -}
              +info(o)    
              +info(o)
              +info(o)

          #software
            +title('fas fa-laptop', 'SOFTWARE')

            #softcont
              +bar('60%', 'PHOTOSHOP')
              +bar('10%', 'DREAMWEAVER')
              +bar('90%', 'ILLUSTRATOR')
              +bar('50%', 'AFTER EFFECTS')    
              +bar('90%', 'INDESIGN')
              +bar('50%', 'HTML&CSS3')  