.profile {
  padding-bottom: 7%;

  &__text {
    font-size: 0.6175rem;
    margin-right: 8%;
    line-height: 0.8rem;
    padding: 0.16rem;
    padding-left: 0.35rem;
  }

  &__crucial-info {
    font-weight: bold;
  }
}
